.home{
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    /* margin-top: 0px; */
}
.cont{
    display: flex;
    justify-content: space-around;
   
}

.paragraph1{
    /* font-family: "Montserrat"; */
    margin-top: 150px;
    margin-left: 100px;
    text-align: left;
}
.name{
    display: flex;
}
.download{
    display: flex;
    /* justify-content: center; */
    margin-top: 30px;
}

h5{
    font-style: italic;
}
.paragraph2{
    text-align: center;
}

.paragraph3{
    margin-top: 150px;
    text-align: left;
    
}

.imageland{
    margin-top: 50px;
}


.fa-plus{
    size: 1px!important;
    color: #5a81d4;
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.nav-item .btn {
    opacity: 0.5
}

.nav-item .btn:hover {
    opacity: 1
}