

body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important
}

.footer1{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.container-fluid {
    overflow: hidden;
    background: #5a5757;
    color: #627482 !important;
    padding-bottom: 0;
    
}

.footer2{
    margin-top: 70px;
    text-align: left;
    color: #455A64;
    
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.copyright{
    text-align: center;
    padding-top: 15px;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 2px
}



.social{
    
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

}