body {
  background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
  font-family: 'Rubik', sans-serif;
  background: #8bd6c3;
}

.footer1{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.container-fluid {
  overflow: hidden;
  /* background: #3cd2ec; */
  color: #627482 !important;
  padding-bottom: 0;
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1aa572 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1aa572),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #1aa572 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #1aa572 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #1aa572 0%, #1dc8cc 100%);
}

.footer2{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  color: #455A64;
}

/* small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
} */

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

/* .rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
 */
.copyright {
  text-align: center;
  padding-top: 15px;
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 2px;
}

.social {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

 li {
  list-style: none;
  color: black;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.footerrrr{
  position:relative!important;
  left: 0; 
  bottom:0;
  width: 100%;
}

