/* @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


.li a button{
    font-weight: 500;
    font-size: 16 px ;
    color :#6a7f86;
    text-decoration: none;
    
}
.navbar{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding:30px 10%;
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%) ;
}
.logo{
    cursor: pointer ;
    height: 70px;
}
.nav__links{
list-style: none;
}
.nav__links li {
display : inline-block;
padding: 0px 20px ;
}
.nav__links li a {
transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color:#0088e9
}
.btns{
    justify-content: space-between;
}
.button {
    width: 100px;
    margin: 0px 5px;
    padding:9px 5px ;
    background-color: rgba(0,136,160,1);
    border : none;
    border-radius: 50px ;
    cursor:pointer ;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: rgba(0,136,160,0.8)
}

.name{
    color: blue;
} */








/* second navbar */

body {
    background: #eee
}
.header2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.bg-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%)
}

.header2 .font-12 {
    font-size: 12px
}

.header2 .dropdown-item {
    padding: 8px 1rem;
    color: #8d97ad
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
    padding: 12px 0px;
    color: #ffffff;
    font-weight: 400
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
    color: #263238
}

.header2 .h2-nav .navbar-nav .nav-item {
    margin: 0 20px
}

@media (min-width: 1024px) {
    .header2 .navbar-nav>.dropdown .dropdown-menu {
        min-width: 210px;
        margin-top: 0px
    }
}

@media (min-width: 1024px) {
    .header2 .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
}

.header2 .dropdown-toggle::after {
    display: none
}

@media (min-width: 1024px) {
    .header2 .hover-dropdown .navbar-nav>.dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0px
    }
}

.header2 .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.header2 .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
    opacity: 0.5
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
    opacity: 1
}

.header2 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    border-radius: 0.25rem;
    display: none
}

.navbar-brand{
    font-style:italic;
    font-weight: bolder;
    color: rgba(69, 90, 100, 0.927);
}

#DropdownButton{
      background-color: white !important;
}

.namecurrent{
    color: #1f3e6d;
    font-family: "Montserrat", sans-serif;
}